<footer class="text-center bg-main text-white p-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="">
          <p>LOCATION</p>
          <span
            >2215 John Daniel Drive <br />
            Clark, MO 65243</span
          >
        </div>
      </div>
      <div class="col-md-4">
        <div class="">
          <p>AROUND THE WEB</p>
          <div class="group-of-icons">
            <div class="fa-solid fa-globe mx-1 icon"></div>
            <div class="fa-brands fa-linkedin-in mx-1 icon"></div>
            <div class="fa-brands fa-twitter mx-1 icon"></div>
            <div class="fa-brands fa-facebook mx-1 icon"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="">
          <p>ABOUT FREELANCER</p>
          <span
            >Freelance is a free to use, licensed Bootstrap theme created by
            Route</span
          >
        </div>
      </div>
    </div>
  </div>
</footer>
<p class="text-center m-0 text-white p-4 cstm-p-footer">
  Copyright © Your Website 2021
</p>
