/* You can add global styles to this file, and also import other style files */
:root {
  --main-color: #2c3e50;
  --second-color: #1abc9c;
}
.bg-main {
  background-color: var(--main-color) !important;
}
.text-main {
  color: var(--main-color);
}
#about {
  background-color: var(--second-color);
}
.article {
  width: 500px;
  margin: 10px 20px;
}
img {
  width: 100%;
}
.item {
  cursor: pointer;
  position: relative;
}
.layer {
  background-color: #1abc9cd4;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 55;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s;
}
.layer:hover {
  opacity: 1;
}
.layer .fa-plus {
  color: #fff;
  font-size: 70px;
}

.title h2 {
  font-size: 50px;
}

.title {
  font-size: 20px;
}

input {
  border: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #dee2e6;
  border-radius: 5px;
}

.btn {
  background-color: var(--second-color);
  color: #fff;
  width: fit-content;
}
.btn:hover {
  background-color: #29a48c;
  color: #fff;
}

.nav-link {
  font-weight: 600;
  border-radius: 10px;
}

.nav-active {
  background-color: #1abc9c;
}

footer span {
  font-size: 18px;
}

footer p {
  font-size: 22px;
}
