<section class="vh-100">
  <div class="title text-center m-5">
    <h2>CONATCT SECTION</h2>
    <div class="star"><i class="fa-solid fa-star mb-5"></i></div>
  </div>
  <form
    action=""
    class="d-flex flex-column g-4 row align-items-center mb-5 w-50 mx-auto"
  >
    <input type="text" placeholder="username" />
    <input type="text" placeholder="userage" />
    <input type="text" placeholder="usermail" />
    <input type="text" placeholder="userpassword" />
    <button type="submit" class="me-auto btn">Send message</button>
  </form>
</section>
