<section class="">
  <div class="title d-flex flex-column text-center mt-5">
    <h2>PORTFOLIO COMPONENT</h2>
    <div class="star"><i class="fa-solid fa-star"></i></div>
  </div>
  <div class="container my-4">
    <div class="row g-4">
      <div class="col-md-4">
        <div class="item rounded-2 overflow-hidden">
          <img src="../../assets/backGround1.png" alt="" />
          <div class="layer">
            <i class="fa-solid fa-plus"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item rounded-2 overflow-hidden">
          <img src="../../assets/backGround2.png" alt="" />
          <div class="layer">
            <i class="fa-solid fa-plus"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item rounded-2 overflow-hidden">
          <img src="../../assets/backGround3.png" alt="" />
          <div class="layer">
            <i class="fa-solid fa-plus"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item rounded-2 overflow-hidden">
          <img src="../../assets/backGround1.png" alt="" />
          <div class="layer">
            <i class="fa-solid fa-plus"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item rounded-2 overflow-hidden">
          <img src="../../assets/backGround2.png" alt="" />
          <div class="layer">
            <i class="fa-solid fa-plus"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item rounded-2 overflow-hidden">
          <img src="../../assets/backGround3.png" alt="" />
          <div class="layer">
            <i class="fa-solid fa-plus"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
